body {
    background-image: url("./images/6b7223d0def9fb19401c5758808f4178.jpg");
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

article {
    width: 25%;
    margin: 1%;
    padding: 0% 3% 3% 1%;
    border: solid rgb(37, 44, 3);
    border-style: dotted;
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(226, 226, 142);
    overflow: hidden;
    
}

img {
    width: 30%;
    height: 30%;
}

p {
    font-style: italic;
    width: 80%;
    font-size: 25px
}

h2 {
    font-size: 60px;
    color: brown;
}

a {
    font-size: 15px;
   
}